{% extends "main_site/layout.html" %}
{% block title %} Data {% endblock %}
{% block content %}
<h1 class="text-center mt-4 fw-bold">Data Table</h1>

<div class="list_container">
    <style>
        .table-bordered th,
        .table-bordered td {
            border-width: 3px;
            border-color: #000;
        }
    </style>

    <div class="container" style="max-width: 1800px;">
        <table class="table table-primary text-center table-bordered">
            <thead>
                <tr>
                    <th>Log Date</th>
                    <th>Call Sign</th>
                    <th>Type of Aircraft</th>
                    <th>Detail</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Movement</th>
                    <th>Time (UTC)</th>
                    <th>Timeliness</th>
                    <th>Remarks</th>
                    <th>Logged by</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if items %}
                    {% for item in items %}
                        <tr class="table-light">
                            <td>{{ item.date|date:"m/d/y" }}</td>
                            <td>{{ item.call_sign }}</td>
                            <td>{{ item.aircraft_type }}</td>
                            <td>{{ item.detail }}</td>
                            <td>{{ item.origin }}</td>
                            <td>{{ item.destination }}</td>
                            <td>{{ item.action }}</td>
                            <td>{{ item.time }}</td>
                            <td>{{ item.timeliness }}</td>
                            <td>{{ item.remarks }}</td>
                            <td>{{ item.user.username }}</td>
                            <td>
                                <div class="d-flex justify-content-center gap-1">
                                    <form method="GET" action="{% url 'edit' item.id %}">
                                        <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                                    </form>
                                    <form method="GET" action="{% url 'delete' item.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="12">
                            <h4 class="text-center py-3">There is currently no data available</h4>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    
    <div class="d-flex justify-content-center gap-2 mt-4 mb-5">
        <form method="GET" action="{% url 'create' %}">
            <button type="submit" class="btn btn-success btn-lg">Create</button>
        </form>
        <form method="GET" action="{% url 'archive' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg">Archive Dataset</button>
        </form>
        <form method="GET" action="{% url 'home' %}">
            <button type="submit" class="btn btn-success btn-lg">Home</button>
        </form>
    </div>
</div>
{% endblock %}
